<a href="https://colab.research.google.com/github/GayanaJayasinghe/Introduction-to-programming/blob/main/Lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UNDER CONSTRUCTION.

DO WE FIRST DO LOOPS? Or we can introduce for loops only in order to iterate through a loop. Arrays, lists, and dictionaries

In this section we will study how we can store various sets of data that are related to each other, rather than storing various quantities in individual variables. We shall see how this allows us to think of various associated operations in simpler terms, and use built in functions in the python language and its libraries to handle large data sets more easily. We begin by studying arrays.

In [ ]:
# prompt: Create a new array to store the height of 5 boxes. Take a user input for the boxes as an array. Sort the heights of the boxes.

height_of_boxes = []
for i in range(5):
  height = float(input("Enter height of box " + str(i+1) + ": "))
  height_of_boxes.append(height)
height_of_boxes.sort()
print(height_of_boxes)

Enter height of box 1: 22
Enter height of box 2: 33
Enter height of box 3: 32
Enter height of box 4: 52
Enter height of box 5: 11
[11.0, 22.0, 32.0, 33.0, 52.0]

Let us consider the height based name sorting problem that we considered in a previous lesson. We have three people with three heights, and we want to sort the names according to height.
One way to store the names and the heights is in an array as given below.

In [ ]:
Names=["John","Joan","William"]
Heights=[1.5, 1.4, 1.6]
print(Names)
print(Heights)

['John', 'Joan', 'William']
[1.5, 1.4, 1.6]

We can get only the name and height of one person.

In [ ]:

print(Names[0])
print(Heights[0])

John
1.5

In [ ]:
print(Names[1])
print(Heights[1])

Joan
1.4

Notice that the 1st set of entries are labelled, or indexed, by 0. The second set of entries are labelled by 1. The counter of for indexing arrays and other data structures starts by 0 in python.

We can add a new name and a new height to each of these using the append command.

In [ ]:
Names.append("James")
Heights.append(1.7)
print(Names)
print(Heights)

['John', 'Joan', 'William', 'James']
[1.5, 1.4, 1.6, 1.7]

In [ ]:
Names.append("James")
Heights.append(1.4)
print(Names)
print(Heights)

['John', 'Joan', 'William', 'James', 'James']
[1.5, 1.4, 1.6, 1.7, 1.4]

Observe that we can have multiple entries. In fact the two arrays are not directly related in the machine and we can treat them separately.

In [ ]:
Names.append("Jane")
print(Names)
print(Heights)

['John', 'Joan', 'William', 'James', 'James', 'Jane']
[1.5, 1.4, 1.6, 1.7, 1.4]

Lets take a subset of the above array. Let's take the 1st three entries and make a new array called Names_1

In [ ]:
Names_1=Names[0:3]
print(Names_1)
print(Names[3])

['John', 'Joan', 'William']
James

We used 0:3, so it "sliced" the array and took the entries starting from the index 0, upto the index 3, but without the 4th index which is labelled by 3, which was "William".

Question:Can you try slicing a different subset?
Try a subset with the 2nd and the third entry.

In [ ]:
Names=["John","Joan","William"]
Heights=[1.5, 1.4, 1.6]
Names_2=Names[1:3]
print(Names_2)

['John', 'Joan', 'William']
[1.5, 1.4, 1.6]
['Joan', 'William']

How about taking two subsets and combing them.
Let's use a simpler example for manipulations. I will declare an array A with 6 numbers and take two subsets, of the first two and the last two numbers. Then I will combine them.

In [ ]:
A=[1,2,3,4,5,6]
A_1=A[0:2]
A_2=A[4:6]
A_3=A_1+A_2
print(A_3)

[1, 2, 5, 6]

So this is another operation for which the symbol is +.

In [ ]:
A=["s","t"]
B=["a","b"]
C=A+B
print(C)

['s', 't', 'a', 'b']

Arrays are very flexible. They can store different data types within even the same array.

In [ ]:
A=["s",1]
print(A[0])
print(A[1])

s
1

I feel like this has become too technical somehow. Maybe its best to introduce nicer, more useful code, before explaining more abstract code.
Not everyone will appreciate the power of abstraction initially.

# Construction. Loops

In many day to day activities, we have to do somethings repeatedly. For instance if we are taking the marks of students in a class and finding the class average various subjects, we have to take the average of values for each subject.
This is one instance where loops help us. Let's begin with a simple example of finding class averages.

In [ ]:
# prompt: Create a dictionary with three students and their marks for a subject maths

student_marks = {
    "Alice": 85,
    "Bob": 72,
    "Charlie": 90
}
print(student_marks)

In [ ]:
# prompt: Now compute the average marks for maths

student_marks = {
    "Alice": 85,
    "Bob": 72,
    "Charlie": 90
}
total_marks = 0
for student in student_marks:
  total_marks += student_marks[student]
average_marks = total_marks / len(student_marks)
print("Average marks for maths:", average_marks)